<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">      
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{url_for('static', filename='css/reset.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
</head>
<body>
    <header class="headerContainer">
        <h1>BLOG DE VIAGENS</h1>
        <img class="iconeMenu" src=../static/svg/menu.svg>
    </header>
    <div id="sobreposição" class="sobreposição"></div>
    <nav id="menuLateral" class="menuLateral">
        <button id="fecharMenu" class="fecharMenu">X</button>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Sobre</a></li>
            <li><a href="#">Destinos</a></li>
            <li><a href="#">Contato</a></li>
        </ul>
    </nav>
    <section class="sectionContainerTitulo">
        <div>
            <h1>Melhores lugares para visitar na Europa</h1><br><br>          
            <p>Embora as famosas cidades de Londres e Paris nunca percam realmente as multidões, aqui estão algumas compensações que tenho certeza de que você vai se apaixonar que são (quase) livres de ataques de selfie stick e filas longas o suficiente para ser um vôo durante a entressafra</p>          
        </div>
        <div>
            <img class="imagem01" src="">
        </div>
    </section>
    <section class="sectionContainerArtigo">
        <div>
            <img class="imagem02" src="">
        </div>
        <div class="sectionContainerArtigoDivDireita">
            <h1>Algarve, Portugal</h1>
            <p>Embora não haja como negar que a natação no mar no inverno é reservada para os destemidos, ainda há bons dias de surf e de sol. Com mais de 300 dias de sol por ano e preços com grandes descontos fora do verão, o período de entressafra no Algarve é uma boa aposta para obter vitamina C. de inverno.</p>
            <a>Leia Mais</a>
            <div class="divImagens03">
                <img class="imagem03" src="">
                <img class="imagem03" src="">
                <img class="imagem03" src="">
                <img class="imagem03" src="">
            </div>
        </div>
    </section>
    <section class="sectionContainerArtigo02">
        <div>
            <h1>Melhores lugares para visitar na Europa</h1>          
            <p>Embora as famosas cidades de Londres e Paris nunca percam realmente as multidões, aqui estão algumas compensações que tenho certeza de que você vai se apaixonar que são (quase) livres de ataques de selfie stick e filas longas o suficiente para ser um vôo durante a entressafra</p>          
        </div>
        <div>
            <img class="imagem04" src="">
        </div>
    </section>
    <section class="sectionContainerArtigo02Locais">
        <div class="divContainerArtigo02Locais">
            <h1>Stonehenge</h1><br><br>
            <p>Stand in awe at this iconic Neolithic stone structure. Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices.</p>
        </div>
        <div class="divContainerArtigo02Locais">
            <h1>Stonehenge</h1><br><br>
            <p>Stand in awe at this iconic Neolithic stone structure. Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices.</p>
        </div>
        <div class="divContainerArtigo02Locais">
            <h1>Stonehenge</h1><br><br>
            <p>Stand in awe at this iconic Neolithic stone structure. Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices.</p>
        </div>
    </section>
    <section class="sectionContainerArtigo">
        <div>
            <img class="imagem05" src="">
        </div>
        <div class="sectionContainerArtigoDivDireita">
            <h1>Algarve, Portugal</h1>
            <p>Embora não haja como negar que a natação no mar no inverno é reservada para os destemidos, ainda há bons dias de surf e de sol. Com mais de 300 dias de sol por ano e preços com grandes descontos fora do verão, o período de entressafra no Algarve é uma boa aposta para obter vitamina C. de inverno.</p>
            <a>Leia Mais</a>
            <div class="divImagens03">
                <img class="imagem06" src="">
                <img class="imagem06" src="">
            </div>
        </div>
    </section>
    <section class="sectionContainerArtigo03">
        <div class="divContainerArtigo03Esquerdo">
            <h1>Melhor época para visitar a Europa</h1><br><br>
            <p>A entressafra é a melhor época para visitar a Europa e fingir que é seu playground particular. Embora as famosas cidades de Londres e Paris nunca realmente percam as multidões, aqui estão algumas compensações que tenho certeza de que você vai cair apaixonados que são (quase)</p><br><br>
            <a>Leia Mais</a>
        </div>
        <div class="divContainerArtigo03Direito">
            <img class="imagem07" src="">
            <img class="imagem07" src="">
        </div>
    </section>
    <section class="sectionContainerArtigo03Rodape">
        <p>Indo para a Europa? Incrível, deixe-me ajudá-lo ...</p><br><br>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices.</p>
    </section>
    <section class="sectionContainerEntreEmContato">
        <h2 class="h2EntreEmContato">Entre em Contato!</h2><br><br>
        <p class="pEntreEmContato">"Queridos leitores do blog, adoraria ouvir suas experiências de viagem! Compartilhem suas aventuras e opiniões nos comentários abaixo. Vamos inspirar uns aos outros com histórias incríveis e dicas valiosas. Mal posso esperar para ler o que vocês têm a dizer! 😊🌍 #ViajarÉViver"</p><br><br>
        <form class="formEntreEmContato">
            <input placeholder="Seu nome">
            <input placeholder="Seu celular">
            <input placeholder="Seu E-mail">
            <textarea id="comentario" name="comentario" rows="6" placeholder="Descreva suas experiências"></textarea>
            <button type="submit">Enviar Depoimento</button>
        </form>
    </section>
    <footer class="rodape">
        <p>Copyright &copy; 2024 - by GRUPO 005</p>
        <p>
            Anderson Santana - 
            Ieda Gonçalves de Araújo - 
            Josiane Espin Graciano Cavalcanti - 
            Palomma Nobre Silva - 
            Rafael Morais Bomfim - 
            Roberval Marques Aceti - 
            Rodrigo Cavalcanti Borges - 
            Rodrigo Ferreira Zanoti
        </p>
    </footer>
    <script src="{{url_for('static', filename='js/script.js')}}"></script>
</body>
</html>
